<!-- login success screen -->
<div class="col-xs-4 col-sm-4 col-md-4 transbox" id="loginSuccess">
    <br>
    <div class="well well-lg">
        <h3>You are now logged in</h3>
    </div>
    <form class="form" action="/" method="get">
      <div class="form-group">
        <button class="btn btn-lg btn-block goHome" type="submit" name="goHome"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;goTravel!</button>
      </div>
    </form>
    <br>
</div>
<!-- end loginForm success -->
