
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">

    <script src="/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/javascripts/gotravel.js" type="text/javascript"></script>

    <link rel='stylesheet' type='text/css'href='https://fonts.googleapis.com/css?family=Special+Elite|Overlock'>
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/font-awesome.css" media="screen" title="no title">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/gotravel.css" media="screen" title="no title">

    <link rel="icon" type="image/png" href="/vendors/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/vendors/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/vendors/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/vendors/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/vendors/favicon/manifest.json">
    <link rel="mask-icon" href="/vendors/favicon/safari-pinned-tab.svg">
    <link rel="shortcut icon" href="/vendors/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/vendors/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/vendors/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

</head>
