<html>
    {{>head}}
    <body>
        {{>includes/header}}
        <div>
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4">
                  <img src="/img/gtLogo.png" alt="goTravel logo" class="logo" />
                  <div class="socialbox">
                      <a href="#" class="active"><i class="fa fa-envelope fa-2x"></i></a>
                      <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                      <a href="https://www.twitter.com/"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                      <a href="https://www.instagram.com/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                  </div>
              </div>
                    {{{ body }}}
            </div>
        </div>
        <footer>
            <p>Real Advice From Locals</p>
        </footer>
    </body>
</html>
