<!--  edit profile page -->
<div class="col-xs-4 col-sm-4 col-md-4 transbox" id="viewProfile">
  <br>
  <div class="well well-sm flex-container-center">
      <h4>Edit Profile Information for {{user.full_name}}</h4>
  </div>
  <div class="well well-lg">
      <form class="" action="/users" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <br>
            <label for="fullname" class="control-label">Full Name</label>
            <input type="text" class="form-control" name="editName">
        </div>
        <div class="form-group">
            <br>
            <label for="username" class="control-label">Username</label>
            <input type="text" class="form-control" name="editUsername">
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" name="editPassword">
        </div>
        <div class="form-group">
            <label for="pwAgain" class="control-label">Re-Type Password</label>
            <input type="password" class="form-control" name="passwordAgain">
            <p id="pwMatch"></p>
        </div>
        <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="text" class="form-control" name="editEmail">
            <p id="emailCheck"></p>
        </div>
        <div class="form-group">
            <label for="imgUrl">Profile Picture</label>
            <input type="file" name="editProfilePic" class="uploadFile" id="profilePic">
            <p class="help-block">Upload a new profile picture. File should be no larger than 5MB</p>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-block" type="submit" id="editSubmit"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Submit Edits</button>
        </div>
      </form>

  </div>

</div>
<!-- end edit profile page -->
