<!-- signup form -->
<div class="col-xs-4 col-sm-4 col-md-4 transbox" id="signupForm">

    <form class="form" action="/auth/signup" method="GET">

      <div class="form-group btn-lg btn-block">
          <button class="btn btn-lg btn-block" type="submit" name="facebookSignup" id="facebookSignup">
            <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;Sign up with Facebook</button>

          <button class="btn btn-lg btn-block" type="submit" name="twitterSignup "id="twitterSignup">
            <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;Sign up with Twitter</button>
      </div>
    </form>
    <form class="form" action="/auth/signup" method="POST">
      <p>
        Or fill in the form below to sign up
      </p>
      <div class="form-group">
          <br>
          <label for="fullname" class="control-label">Full Name</label>
          <input type="text" class="form-control" name="signupName">
          <p id="fullnameAlert"></p>
      </div>
      <div class="form-group">
          <label for="username" class="control-label">Username</label>
          <input type="text" class="form-control" name="signUpusername">
          <p id="usernameAlert"></p>
      </div>
      <div class="form-group">
          <label for="password" class="control-label">Password</label>
          <input type="password" class="form-control" name="signupPW">
          <p id="pwAlert"></p>
      </div>
      <div class="form-group">
          <label for="pwAgain" class="control-label">Re-Type Password</label>
          <input type="password" class="form-control" name="pwAgain">
          <p id="pwMatch"></p>
      </div>
      <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input type="text" class="form-control" name="signupEmail">
          <p id="emailCheck"></p>
      </div>
      <div class="form-group">
        <label for="profilePic">Profile URL link</label>
        <input id="profilePic" type="text" class="form-control" name="img_url" value='http://'><br>
      </div>
      <div class="form-group btn-lg btn-block">
          <button class="btn btn-lg btn-block" type="submit" name="signupSubmit" id="signupSubmit"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Sign Up</button>
      </div>
    </form>
</div>
<!-- end signupForm -->
