/*font-family: 'Overlock', cursive;

font-family: 'Special Elite', cursive;

$color1: #3d348b; //rgba(61, 52, 139, 100)
$color2: #5479e3; //rgba(118, 120, 237, 100)
$color3: #f7b801; //rgba(247, 184, 1, 100)
$color4: #f18701; //rgba(241, 135, 1, 100)
$color5: #f35b04; //rgba(243, 91, 4, 100)
*/

html, body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Overlock', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
}


h3, h4, h5 {
    text-align: center;
}

h1, h3, h5 {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    margin-top: 10px;
}

h1 {
  margin-left: 50px;
}

footer {
    /*margin-top: 13%;*/
    position: fixed;
    top: 93%;
    width: 100%;
    background: #222;
}

footer p {
    font-size: 120%;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Special Elite', cursive;
}

div.transbox,
table {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid #3a3a3a;
    opacity: 0.8;
    filter: alpha(opacity=80);
    border-radius: 5px;
}

button.btn-block {
    background-color: #5479e3;
    color: #fff;
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    font-size: 80%;
}


button.navBtn {
    background-color: #f35b04;
    color: #fff;
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    margin: 10px 10px;
}

ul {
    list-style: none;
}

input[type] {
  font-size: 80%;
}

.fa-trash {
  color: #f35b04;
}
.anchorNav {
  margin-left: 50px;
}

.table {
  width: auto;
}

.profileImg {
  border-radius: 50%;
}

.ui-autocomplete-input {
    background-color: #fff;
}

.overlock {
    font-family: 'Overlock', cursive;
    text-align: center;
}

.centered {
    text-align: center;
}

.well-sm {
    border-radius: 5px;
}

.well-sm p {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 110%;
    display: inline;
    font-weight: 700;
}

.well-lg p {
    font-family: 'Special Elite', cursive;
    color: #3d348b;
    font-size: 110%;
}

.logo {
    width: 65%;
}

.flex-container-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.btn-lg {
    font-size: 1.5rem;
}

i.orange {
    color: #f35b04;
}


.fa-facebook-square, .fa-instagram, .fa-twitter-square, .fa-envelope {
    color: #fff;
}

.fa-envelope:hover {
    color: #f35b04;
    transition: all 0.8s ease;
}

.fa-facebook-square:hover {
    color: #3b5998;
    transition: all 0.8s ease;
}

.fa-instagram:hover {
    color: #007bb6;
    transition: all 0.8s ease;
}

.fa-twitter-square:hover {
    color: #00aced;
    transition: all 0.8s ease;
}

.socialbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #5479e3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50px;
    margin-top: 50px;
}

.socialbox a {
    padding: 5px 0 5px 10px;
    display: block;
    color: white;
}

.weatherIcon {
  height: 50px;
}

.ui-menu {
  background-color: #fff;
  color: #3d348b;
  border-radius: 5px;
  border: 1px solid #3d348b;
  width: 30%;
}

.ui-menu-item a {
  text-decoration: none;
}

#smallTxt {
  font-family: 'Overlock', sans-serif;
  font-size: 80%;
}

#twitterSignup {
  background-color: #00aced;
}

#facebookSignup {
  background-color: #3b5998;
}

#weatherBox {
    background-color: #3d348b;
    color: #fff;
    padding-bottom: 20px;
}

#usernameAlert, #pwAlert, #pwMatch, #cityAlert, #emailCheck {
    color: red;
}

#help-block {
  font-family: 'Overlock', sans-serif;
  font-size: 80%;
}
