/* Coolors Exported Palette - coolors.co/3d348b-7678ed-f7b801-f18701-f35b04 */

$color1: #3d348b; //rgba(61, 52, 139, 100)
$color2: #7678ed; //rgba(118, 120, 237, 100)
$color3: #f7b801; //rgba(247, 184, 1, 100)
$color4: #f18701; //rgba(241, 135, 1, 100)
$color5: #f35b04; //rgba(243, 91, 4, 100)