<header>

  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header navbar-left">
              <button class="btn navBtn goHome" type="button" name="change">Change City/Season</button>
          </div>

          <div class="navbar-header navbar-right">

            <ul class="nav navbar-nav">
                <li>
                  <button class="btn navBtn" type="button" name="loginBtn" id="loginBtn">Log In</button>
                </li>
                <li>
                  <button class="btn navBtn" type="button" name="signupBtn" id="signupBtn">Sign Up</button>
                </li>
            </ul>
          </div>
      </div>
  </nav>
</header>
